@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');
body {
    background-color: indigo;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: greenyellow;
  text-align: center;
  font-family: 'Snowburst One', cursive;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  text-align: center;
  margin: auto;
  font-family: 'Snowburst One', cursive;
}

div {
  border: 3px solid yellowgreen;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.reset {
  background-color: yellowgreen;
  font-family: 'Snowburst One', cursive;
  display: inline-block;
  font-size: 35px;
  border:small;
  border-radius: 50%;
}